body { padding: 0 !important;font-family: 'Poppins', sans-serif !important; }
label , h2, h3,h4,h5,h6,p,span {
    color: #000 !important;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}
.hidden{
    display: none !important;
}
.brand {
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 1;
    width: 100%;
    padding: 0px 150px;
}

.brand img.logo {
    width: 190px;
    height: 175px;
}

.brand a.phone-btn {
    text-decoration: none;
}

.call-order {
    width: 360px;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border-radius: 57px;
}

.call-order-text span.label {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.call-order-text span.call-to {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color : #090909;
}

.alert-msg {
    background-color: #090909;
    height: 60px;
    padding: 15px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.alert-msg span {
    color: #FAC031 !important;
}

#myCarousel{
    width:100%;
}

#myCarousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height:100vh;
    width: 100%;
}

#myCarousel .customize-caption {
    top: 32%;
    left: 7.8%;
}

#myCarousel .customize-caption h1{
    font-size: 100px;
    line-height: 120px;
}

#myCarousel .customize-caption h1 span {
    font-size: 160px;
    color: #FF0000 !important;
    margin-left:-6px;
}

#myCarousel .customize-caption p {
    font-size: 45px;
    color: #009146 !important;
    font-weight: 400;
}

#myCarousel .customize-caption span {
    font-size: 24px;
    font-weight: 400;
    color: #fff !important;
}

#myCarousel .customize-caption p.cta a {
    background: #FFA52D;
    border-radius: 50px;
    width: 250px;
    height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 400;
}
.text-white{
    color : #fff !important;
}
#myCarousel .carousel-indicators button {
    background: #808080;
    border-radius: 77%;
    width: 18px !important;
    height: 18px !important;
    border: 0;
}

#myCarousel .carousel-indicators button.active {
    background: #ffa800;
    width: 40px !important;
    border-radius: 10px !important;
    transition-delay: 100ms;
}

.search-form .form-group input.form-control::-webkit-input-placeholder{
    display:none;
}
.search-form .form-group input.form-control::-moz-placeholder{
    display:none;
}

.form-group{
    position:relative;
    width:0%;
    min-width:60px;
    height:60px;
    overflow:hidden;
    transition: width 1s;
    backface-visibility:hidden;
}
.form-group input.form-control{
    position:absolute;
    top:0;
    right:0;
    outline:none;
    width:100%;
    height:60px;
    margin:0;
    z-index:10;
}

.form-control{
    -webkit-border-radius:0;
    border-color: #dee2e6 !important;
}
.form-control-submit, .search-label{
    width:60px;
    height:60px;
    position:absolute;
    right:0;
    top:0;
    padding:0;
    margin:0;
    text-align:center;
    cursor:pointer;
    line-height:60px;
    background:white;
}
.form-control-submit{
    background:#fff; /*stupid IE*/
    opacity: 0;
    color:transparent;
    border:none;
    outline:none;
    z-index:-1;
}
.search-label{
    z-index:90;
}
.form-group.sb-search-open,
.no-js .sb-search-open{
    width:100%;
}
.form-group.sb-search-open .search-label,
.no-js .sb-search .search-label {
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}
.form-group.sb-search-open .form-control-submit,
.no-js .form-control .form-control-submit {
    z-index: 90;
}

.categories-section {
    height: 80px;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.categories-list {
    width: calc( 100% - 0px );
    display: flex;
    align-items: center;
}

.categories-search {
    width: 55px;
    position: relative;
}
.categories-list ul li {
    text-align: center;
    flex: none;
    padding: 20px
}

.categories-list ul {
    text-align: center;
    width: 100%;
    flex-flow: row nowrap;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.categories-list ul li a {
    text-transform: uppercase;
    background: 0 0!important;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
    padding: 15px;
    font-family: 'Poppins', sans-serif !important;
}

.base-section {
    margin: 60px 0;
}

.section-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 30px;
    color: #000;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif !important;
}

.section-header {
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    color: #000;
    margin-bottom: 60px;
}

.location-container {
    background-color: #B60000;
    border-radius: 30px;
    padding: 60px 0;
    background-image: url(/images/assets/location-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10px 20px;
}

.card-image {
    margin: 18px;
    background: #FFF6DC;
    border-radius: 30px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img.card-img-top {
    max-width: 300px;
    padding: 10px;
}

.container-fluid.px-container {
    max-width: 1720px;
}

.card.deal-card {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #ECECEC;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif !important;
}

.card.deal-card .card-title {
    font-weight: 600;
    font-size: 18px;
    color: #1E1D23;
}

.card.deal-card .card-text {
    font-size: 16px;
    color: #7E7E7E !important;
}

.card.deal-card .price-label {
    font-weight: bold;
    font-size: 18px;
    color: #00CF64 !important;
}

.card.deal-card .discount-tag {
    position: absolute;
    width: 117px;
    height: 92px;
    left: -10px;
    top: -27px;
    background: #B60000;
    border-radius: 46px 46px 0px 46px;
    color: #FFF2F2 !important;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount-tag label {
    font-size: 35px;
    line-height: 20px;
    text-align: right;
    color: #fff !important;
}

.discount-tag span {
    font-size: 16px;
    color: #fff !important;
}

.location-content div {
    margin-bottom: 50px;
    align-items: center;
    color: #fff !important;
    padding: 0 60px;
}

.location-content div img {
    margin-right: 10px;
}

.location-content div p {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #fff !important;
}

.categories-section.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform .3s;
    height: 60px;
}

.categories-section.fixed-top .categories-list img, .categories-section.fixed-top .search-label img {
    width: 36px;
}

.categories-section.fixed-top > .categories-list ul li a {
    font-size: 20px;
    padding: 15px;
}

@media (max-width: 767.98px) {
    .alert-msg {
        margin-top: 55px;
    }
}

/* Banner */
.checkout-brand img.background {
    height: 460px;
}

.checkout-brand .checkout-logo {
    position: absolute;
    color: white !important;
    height: 450px;
}

.checkout-brand .checkout-logo img.logo {
    width: 244px;
}

.checkout-brand .checkout-logo h2 {
    font-weight: 600;
    font-size: 60px;
    color: #fff !important;
}
/* Checkout Form */
#checkoutForm {
    box-shadow: 0px 1px 50px rgb(0 0 0 / 5%);
    border-radius: 10px;
    margin: 100px 70px;
}

.billing-details p {
    font-weight: 300;
    font-size: 24px;
    color: #090808 !important;
    line-height: 36px;
}

.billing-details p span {
    font-weight: 600;
    font-size: 24px;
    color: #1E1D23 !important;
}
.summary-labels p{
    font-size: 16px;
}
.order-details {
}

.hr {
    border-color: #D0D0D0 !important;
}

.text-right {
    text-align: right;
}
.order-total{
    padding-bottom: 10px;
}
.order-total label {
    font-weight: 600;
    font-size: 24px;
}

.summary-values p {
    font-weight: 400;
    font-size: 16px;
}

.order-total span {
    font-weight: 700;
    font-size: 25px;
    color: #00CF64 !important;
}

.order-list img { max-width: 120px; }
.order-image-separator { border: 1px dashed #000000 !important; }
.order-item .item-name h6 {
    font-weight: 600;
    font-size: 20px;
}
.order-item .item-name p, .order-item .item-name span {
    font-weight: 300;
    font-size: 16px;
}
.order-item .item-value {
    font-weight: 700;
    font-size: 20px;
    color: #00CF64 !important;
}

/* Checkout Form */
#checkoutForm {
    box-shadow: 0px 1px 50px rgb(0 0 0 / 5%);
    border-radius: 10px;
    margin: 100px 70px;
}

.billing-details h3 {
    font-weight: 600;
    font-size: 40px;
}

.billing-details h6 {
    font-weight: 600;
    font-size: 26px;
}

.payment-selector div {
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

.payment-selector label {
    font-weight: 400;
    font-size: 20px;
}

.order-details {
    box-sizing: border-box;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
}

.order-heading label {
    font-weight: 600;
    font-size: 26px;
}

.hr {
    border-color: #155e75!important
}

.text-right {
    text-align: right;
}

.w-15{
    width:4rem;
}
.w-35{
    width:35%;
}
.voucher-input input {
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    padding: 10px;
    width: 75%;
}
.voucher-input button {
    background: #FFA52D;
    border-radius: 34px;
    font-weight: 400;
    font-size: 22px;
    width: 100px;
}

.btn-submit {
    background: #FFA52D;
    border-radius: 34px;
    font-weight: 400;
    font-size: 26px;
    width: 100%;
}

.continue-shopping {
    font-weight: 400;
    font-size: 20px;
    color: #5177FF !important;
    float: right;
}

.order-list img { max-width: 120px; }
.order-image-separator { border: 1px dashed #000000; }
.order-item .item-name h6 {
    font-weight: 600;
    font-size: 20px;
}
.order-item .item-name p, .order-item .item-name span {
    font-weight: 300;
    font-size: 16px;
}

footer {
    height: 225px;
    background: #000;
}

footer p {
    color: #898989 !important;
    font-weight: 300;
    font-size: 24px;
}



.color-1 {
    color: #FFA52D
}

.shopping-cart {
    position: absolute;
    z-index: 1;
    bottom: -40px;
    right: 30px;
}

.shopping-icon {
    background: #FFA52D;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

.shopping-cart img {
    position: relative;
    right: 5px;
    top: 5px;
}
.shopping-cart span {
    position: absolute;
    top: 12px;
    right: 13px;
    background: black;
    font-weight: 600;
    font-size: 16px;
    z-index: 1;
}

@media (max-width: 767.98px) {
    .alert-msg {
        margin-top: 55px;
    }
}



/* MODAL CSS */
.cartModal .order-image img { max-width: 120px; }
.cartModal .order-image-separator { border: 1px dashed #000000; }
.cartModal .order-item .item-name h6 {
    font-weight: 600;
    font-size: 20px;
}
.cartModal .order-item .item-name p, .cartModal .order-item .item-name span {
    font-weight: 300;
    font-size: 16px;
}
.cartModal .item-value {
    font-weight: 700;
    font-size: 20px;
    color: #00CF64;
}

.cartModal .table>:not(caption)>*>* {
    vertical-align: middle;
}

.cartModal .table thead tr th {
    font-weight: 600;
    font-size: 22px;
}

.cartModal .table tbody tr input[type=number] {
    height: 50px;
    border: 1px solid #D0D0D0;
    border-radius: 6px;
    padding: 5px;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}

#shoppingCartModal .modal-title {
    font-weight: 600;
    font-size: 60px;
}

.cartModal .table tbody tr:last-child {
    border-color: #000;
}

#shoppingCartModal .cart-total {
    background: #F9F9F9;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
}

#shoppingCartModal .total-label {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}

#shoppingCartModal .summary-values p {
    font-weight: 400;
}

#shoppingCartModal .order-total span {
    font-weight: 700;
    font-size: 25px;
    color: #00CF64;
}

#shoppingCartModal .cart-total h6 {
    font-weight: 700;
    font-size: 26px;
    color: #000;
}



/* Product Modal */
/* carousel slideshow css */
/* Hide the images by default */
.productSlideshow {

}

.productSlideshow div#carouselExampleIndicators {
    border: 1px solid #ECECEC;
    border-radius: 30px;
    height: 350px;
}

.productSlideshow .carousel-inner {
    text-align: center;
}
.productSlideshow .carousel-item {
    height: 350px;
}

.productSlideshow .carousel-item img {
    height: initial;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.productSlideshow .carousel-indicators {
    position: static;
    overflow: scroll;
    width: 100%;
    margin-left: 0;
    overflow-y: hidden;
    height: 130px;
    margin-right: 0;
}

.productSlideshow .carousel-indicators li {
    width: 200px;
    height: 100%;
    opacity: 0.8;
}

.productSlideshow .carousel-indicators button[data-bs-target] {
    width: fit-content;
    margin: 0;
    border: 0;
    height: auto;
    padding: 0 2px;
}

.productSlideshow .carousel-indicators button[data-bs-target] img {
    border: 1px solid #ECECEC;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.productSlideshow .carousel-indicators button[data-bs-target]:not(.active){
    opacity: 0.5;
}
.productSlideshow .carousel-indicators {
    position: static;
}

.star-gold { color: #FFCC33; }

.outside-close .close {
    float: right;
    font-size: 25px;
    width: 25px;
    font-weight: 700;
    line-height: 1;
    color: black;
    opacity: 1;
    position: absolute;
    right: -13px;
    background: #f4f4f4;
    top: -13px;
    z-index: 1;
    border-radius: 100%;
    border: 0;
}

/* LOCATION MODAL */
#selectLocationModal { }

#selectLocationModal .modal-header img {
    background: #484848;
    padding: 10px;
    border: 1px solid #d7d7d7;
    border-radius: 15px;
    width: 150px;
    height: inherit;
}

#selectLocationModal .select-region h3 {
    font-weight: 700;
    color: #000;
}

#selectLocationModal .select-region .btn-group label {
    color: #FFA52D !important;
    border-color: #FFA52D !important;
    font-weight: 600 !important;
}
#selectLocationModal .select-region >>> .btn-check:checked+.btn, #selectLocationModal .select-region >>> .btn.active, #selectLocationModal .select-region >>> .btn.show, #selectLocationModal .select-region >>> .btn:first-child:active, #selectLocationModal .select-region >>> :not(.btn-check)+.btn:active {
    background-color: #FFA52D !important;
    color: #fff !important;
}

#selectLocationModal >>> .select2-container .select2-selection--single {
    height: 40px !important;
    border: 1px solid #FFA52D !important;
}

#selectLocationModal >>> .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
    color: #FFA52D !important;
}

#selectLocationModal >>> .select2-container--default .select2-selection--single .select2-selection__clear {
    height: 40px !important;
    color: #FFA52D !important;
}

#selectLocationModal >>> .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}

#selectLocationModal >>> .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #FFA52D transparent transparent transparent !important;
}
.preferences .addon-cat-title{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif !important;
}
.preferences .leading-relaxed{
    font-family: 'Poppins', sans-serif !important;
}
#productModal .modal-md{
    max-width: 600px !important;
}
#productModal .modal-header{
    height: 3em;
}
#productModal .modal-body{
    height: 400px;
    overflow-y: auto;
    padding: 0 var(--bs-modal-padding);
}
.addon-image{
    align-items: center;
    border-radius: 0.32rem;
    display: flex;
    flex-shrink: 0;
    height: 64px;
    justify-content: center;
    margin: 0 10px 0 0;
    margin-bottom: -0.75rem!important;
    margin-top: -0.75rem!important;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    width: 64px;
}
#productModal .modal-header h4 {
    font-weight: 600;
    font-size: 21px;
    color: #1E1D23;
    font-family: 'Poppins', sans-serif !important;
}
.productSummary .product-n-review .price-label {
    font-weight: 600;
    font-size: 18px;
    color: #1E1D23;
}
.modal-footer .counter {
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    padding: 0.3rem 0.25rem;
}
.modal-footer .counter .sober-icon-box {
    align-items: center;
    background: transparent;
    border: 0;
    color: #000;
    cursor: pointer;
    display: flex;
    flex: 0 0 14px;
    padding: 5px 9px;
    text-align: center;
    transition: background-color .25s ease;
}
.modal-footer .counter .quantity-box {
    border: 0;
    height: 34px;
    padding: 5px;
    text-align: center;
}
.svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
.modal-footer .cart-count {
    background-color: #FFA52D;
    border-radius: 0.4rem;
    color: #fff;
    cursor: pointer;
    padding: 0.75rem 0.25rem;
}
.modal-footer .cart-count .add-to-cart {
    font-size: .9rem;
    -webkit-user-select: none;
    user-select: none;
}
.required-label{
    font-family: 'Poppins', sans-serif !important;
    float: right;
    background: #FFCC33;
    padding: 0.3rem;
    font-size: 12px;
    border-radius: 5px;
}
.addon-price{
    font-family: 'Poppins', sans-serif !important;
    padding: 0.3rem;
    font-size: 14px;
    font-weight: bold;
    line-height: 2rem;
    float: right;
}
.btn-yellow{
    font-family: 'Poppins', sans-serif !important;
    float: right;
    background: #FFCC33;
    border: #FFCC33;
}
.btn-yellow:hover{
    background: #c79f26;
}
.prod-qty{
    border-color: #6b7280;
    color: #6b7280;
}
